# Unity-specific files and directories to ignore
[Dd]ebug/
[Tt]emp/
[Ll]ibrary/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Aa]ssets/AssetStoreTools*
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.tps
*.tmp
*.temp
*.apk
*.unitypackage
